{% extends 'project_management/base.html' %}

{% block title %}پروژه‌ها{% endblock %}


{% block content %}

<a href="{% url 'map_view' %}">نمایش نقشه‌های تعاملی</a>

<h2 class="mt-5 mb-4 text-center">آخرین موضوعات و اخبار</h2>
<div class="row">
    {% for post in posts|slice:":3" %}  <!-- Limit to 3 recent posts -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title text-primary">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content|truncatewords:20|safe }}</p>
                    <a href="{{ post.get_absolute_url }}" class="btn btn-outline-primary mt-3">خواندن ادامه</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<a href="{% url 'blog_list' %}" class="btn btn-link mt-4">دیدن همه اخبار</a>


<h1 class="mb-4">پروژه‌های موجود</h1>
<div class="row">
    {% for project in projects %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ project.name }}</h5>
                    <p class="card-text">{{ project.description|safe }}</p>
                    <a href="{% url 'project_detail' project.id %}" class="btn btn-primary">مشاهده کارها</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
