{% extends 'project_management/base.html' %}

{% block content %}
<h1>All Tasks by Difficulty Level</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Difficulty Level</th>
            <th>Tasks</th>
        </tr>
    </thead>
    <tbody>
        {% for level, tasks in tasks_by_difficulty.items %}
            <tr>
                <td>{{ level }}</td>
                <td>
                    {% for task in tasks %}
                        <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a><br>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
