/* styles.css */

body {
    font-family: "Vazirmatn";
    background-color: #f8f9fa;  /* Light grey background */
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: hsl(64, 91%, 91%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

h1, h2 {
    color: #333;
    font-weight: bold;
    text-align: center;
}

.btn-primary, .btn-success {
    width: 100%;
    border-radius: 5px;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}


